.activity-cont {
    background-color: rgb(211, 231, 248);
    padding-top: 30px;
    padding-bottom: 40px;
    /* padding: 10px; */
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
.activity-cont > h1 {
 color: wheat;
}