.activity-cont {
   background-image: url(../../../public/Images/ac-bg3.png);
   background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
.activity-cont > h1 {
 color: wheat;
}