.header {
    display: flex;  
    align-items: center;
}
.company-logo > img{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.company-name{
    color: crimson;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}