.header {
    display: flex;  
    align-items: center;
    background-image: url(../../../public/Images/bg.jpg);
    background-size: cover;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}
.company-logo > img{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.company-name{
    color: rgb(217, 10, 51);
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}