.App{
  text-align: center;
  display: grid;
  grid-template-columns: 6.4fr 2fr;
  justify-content: space-around;
}

.cal-cart {
  padding: 20px;
  background-image: url(../public/Images/bg.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;


}

/* Setting style for the img */
.member div img {
  width: 100px;
  height: 80px;
  border-radius: 10px;

}

/* Setting style for the name and tittle */
.name-n-tittle {
  line-height: 0px;
}

/* Setting style for the member related data */
.member-data {
  margin-top: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}
.member-data div {
  line-height: 5px;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  background-color: rgb(231, 236, 236);
  box-shadow: 1px -1px 20 px 1px red;
  border-radius: 10px;
  
}


/* Setting style for the break section */

.break-section-header, .exercise-details {
  text-align: left;
}

.break-data {
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;


  
}

.break-data * {
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px;
  font-weight: bold ;
  background-color: azure;
  box-shadow: 1px -1px 20px 1px red;
  
  
}
.break-data p {
  color: crimson;
  padding-top: 15px;
  width: 40px;  
}


.exercise-details {
  padding: 5px;
  border-radius: 10px;
}
.exercise-time-data {
  padding: 10px;
  background-color: thistle;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  align-items: center;
  
}
.break-time-data {
  padding: 5px;
  background-color: rgb(66, 137, 195);
  display: flex;
}
.activity-done-btn {
  background-color: rgb(3, 150, 150);
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 15px;
}
