.App {
  text-align: center;
}
.App{
  display: grid;
  grid-template-columns: 6fr 2fr;
}

.exercise-cont {
   background-color: antiquewhite;
   border-right: 1px solid black;
}

.exercise-card-cont {
  background-color: rgb(197, 168, 125);
}

.cal-cart {
  background-color: rgb(228, 227, 222);
}