.container{
  text-align: center;
  display: grid;
  grid-template-columns: 7fr 2fr;
  justify-content: space-around;
}

.cal-cart {
  background-color: rgb(127, 182, 230);
  padding: 20px;
  position: sticky;
  top: 0;
  right: 0;
  width: 260px;
  /* border-left: 2px solid rgb(54, 54, 135); */


}

/* Setting style for the img */
.member div img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid red;
  box-shadow: 1px -1px 10px 1px rgb(53, 69, 194);
}

/* Setting style for the name and tittle */
.name-n-tittle {
  line-height: 0px;
  margin-bottom: 25px;

}

/* Setting style for the member related data */
.member-data {
  border-radius: 5px;
  padding: 0 5px 0 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60px;
  justify-content: center;
  align-items: center;
  gap: 15px;

}
.member-data div {
  line-height: 2px;
  width: 50px;
  height: 40px;
  border: 3px solid rgb(5, 76, 242);
  background-color: #fff;
  box-shadow: 1px -1px 10px 1px black;
  border-radius: 5px;
  font-size: 15px;
  padding:0 5px 15px 5px ;
  text-align: center;
}


/* Setting style for the break section */

.break-section-header, .activity-details-header {
  text-align: left;
  line-height: 5px;
}

.break-data {
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.break-data * {
  height: 35px;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold ;
  background-color: rgb(254, 199, 254);
  box-shadow: 1px -1px 10px 1px black;
  margin: 0;  
}

.break-data *:hover {
  outline: 2px solid blue;
}

.break-data p {
  padding-top: 5px;
  width: 30px; 
  font-size: 26px;
  font-weight: bold;
}


/* Style for activity details section */

.total-activity-time, .total-break-time, .total-need-time{
  background-color: rgb(252, 178, 252);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30px;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px -1px 5px 1px black;
  border: 2px solid rgb(20, 40, 220); 
}

/* Style for the activity button */
.activity-done-btn {
  background-color: rgb(247, 65, 247) ;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 1px -1px 10px 1px black;
  font-size: 20px;
}

.activity-done-btn:hover {
  outline: 1px solid white;
}

.try-again-btn {
  color: blue;
  background-color: rgb(91, 175, 248);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 1px -1px 10px 1px black;
  font-size: 13px;
}
.try-again-btn:hover {
  outline: 2px solid rgb(75, 177, 141);
}



